.header {
    display: grid;
    grid-template-rows: 1fr 3fr;
    background: linear-gradient(to bottom, #3498db, #1f618d);
}


.header-bottom {
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 10fr 10fr 15fr 60fr;
    align-items: center;
    gap: 3px;
    padding: 10px;
    background-color: #1f618d;
}

.header-bottom>div:nth-child(4) {
    grid-column: span 3;
    justify-self: flex-start;
}

label {
    font-size: 16px;
    margin-right: 8px;
    color: white;
}

input[type="date"] {
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}


.button-custom {
    margin-top: 20px;
}